<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>Panelu Partnera Benefit Systems</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="assets/css/headers/header-default.css">
    <link rel="stylesheet" href="assets/css/footers/footer-v1.css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css"/>

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/plugins/animate.css">
    <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">


    <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="assets/css/pages/blog.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/theme-colors/dark-red.css">


    <link rel="stylesheet" href="assets/css/img-hover.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/custom.css">

</head>

<body>
<div class="wrapper">
    <!--=== Header ===-->
    <div class="header" id="includedContentHeader">
    </div>
    <!--=== End Header ===-->
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Sprzęt i wyposażenie</h1>
            <ul class="pull-right breadcrumb">
                <li>Programy Wsparcia</li>
                <li>Programy</li>
                <li>Inwestycje</li>
                <li><a href="programs_list_of_equipments.html">Sprzęt i wyposażenie</a></li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row">
            <!-- Begin Content -->
            <div class="col-md-9 md-margin-bottom-50">

                <div class="article-clear">

                    <h2>Wstęp z treścią do zakłądki Sprzęt i wyposażenie</h2>
                    <div class="blog-info">
                        <p>
                            At vero eos et accusamus et <b> iusto odio </b> dignissimos ducimus qui
                            blanditiis
                            Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut
                            volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero
                            At vero eos et accusamus et <b> iusto odio </b> dignissimos ducimus qui
                            blanditiis
                            Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut
                            volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero
                            magna. Sed et quam lacus. Fusce condimentum</p><br>
                    </div>

                    <div class="tab-v1">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#KAT1" data-toggle="tab">Strefa Kardio</a></li>
                            <li><a href="#KAT2" data-toggle="tab">Sala fitness</a></li>
                            <li><a href="#KAT3" data-toggle="tab">Siłownia</a></li>
                            <li><a href="#KAT4" data-toggle="tab">Suplementy i odżywki</a></li>
                            <li><a href="#KAT5" data-toggle="tab">Trening EMS</a></li>
                            <li><a href="#KAT5" data-toggle="tab">Spa & wellness</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="KAT1">
                                <div class="margin-top-20">
                                    <!--Blog Post-->

                                    <!--=== Discount Partners ===-->
                                    <ul class="list-inline our-clients" id="effect-2">
                                        <li>
                                            <figure>
                                                <img src="assets/img/clients2/MX1_LOGO_matrix_text_logo_cmyk_strong-smart-beautiful.jpg"
                                                     alt="">
                                                <div class="img-hover">
                                                    <h4>Matrix</h4>
                                                    <p>
                                                        entesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit
                                                        amet, consectetur adipiscing elit. Ut non libero magna. Sed et
                                                        quam lacus. Fusce condimentum
                                                    </p>
                                                    <button type="button"
                                                            class="btn-u btn-brand-outline show-more margin-left-5"
                                                            onclick="location.href = 'offer.html'">
                                                        Dowiedz się więcej
                                                    </button>
                                                </div>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/img/clients2/logo.png" alt="">
                                                <div class="img-hover">
                                                    <h4>TechnoGym</h4>
                                                    <p>Opis...</p>
                                                    <button type="button"
                                                            class="btn-u btn-brand-outline show-more margin-left-5"
                                                            onclick="location.href = 'offer.html'">
                                                        Dowiedz się więcej
                                                    </button>
                                                </div>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/img/clients2/ucweb.png" alt="">
                                                <div class="img-hover">
                                                    <h4>UcWeb</h4>
                                                    <p>Opis...</p>
                                                    <button type="button"
                                                            class="btn-u btn-brand-outline show-more margin-left-5"
                                                            onclick="location.href = 'offer.html'">
                                                        Dowiedz się więcej
                                                    </button>
                                                </div>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/img/clients2/clarks.png" alt="">
                                                <div class="img-hover">
                                                    <h4>Clarks</h4>
                                                    <p>Opis...</p>
                                                    <button type="button"
                                                            class="btn-u btn-brand-outline show-more margin-left-5"
                                                            onclick="location.href = 'offer.html'">
                                                        Dowiedz się więcej
                                                    </button>
                                                </div>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/img/clients2/corepreserves.png" alt="">
                                                <div class="img-hover">
                                                    <h4>Core Preserves</h4>
                                                    <p>Opis...</p>
                                                    <button type="button"
                                                            class="btn-u btn-brand-outline show-more margin-left-5"
                                                            onclick="location.href = 'offer.html'">
                                                        Dowiedz się więcej
                                                    </button>
                                                </div>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/img/clients2/finals.png" alt="">
                                                <div class="img-hover">
                                                    <h4>USL Champions</h4>
                                                </div>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/img/clients2/getaround.png" alt="">
                                                <div class="img-hover">
                                                    <h4>GetAround</h4>
                                                </div>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/img/clients2/baderbrau.png" alt="">
                                                <div class="img-hover">
                                                    <h4>Baderbrau</h4>
                                                </div>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/img/clients2/emirates.png" alt="">
                                                <div class="img-hover">
                                                    <h4>Emirates</h4>
                                                </div>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/img/clients2/fddw.png" alt="">
                                                <div class="img-hover">
                                                    <h4>Field Days</h4>
                                                </div>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/img/clients2/district-karaoke.png" alt="">
                                                <div class="img-hover">
                                                    <h4>District Karaoke</h4>
                                                </div>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/img/clients2/marianos.png" alt="">
                                                <div class="img-hover">
                                                    <h4>Mariano's</h4>
                                                </div>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/img/clients2/grifting-tree.png" alt="">
                                                <div class="img-hover">
                                                    <h4>The Grifting Tree</h4>
                                                </div>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/img/clients2/jaguar.png" alt="">
                                                <div class="img-hover">
                                                    <h4>Jaguar</h4>
                                                </div>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/img/clients2/hermes.png" alt="">
                                                <div class="img-hover">
                                                    <h4>Hermes</h4>
                                                </div>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/img/clients2/starbucks.png" alt="">
                                                <div class="img-hover">
                                                    <h4>Starbucks</h4>
                                                </div>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/img/clients2/national-geographic.png" alt="">
                                                <div class="img-hover">
                                                    <h4>National Geographic</h4>
                                                </div>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/img/clients2/much-more.png" alt="">
                                                <div class="img-hover">
                                                    <h4>Much More</h4>
                                                </div>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/img/clients2/hotiron.png" alt="">
                                                <div class="img-hover">
                                                    <h4>Hotiron</h4>
                                                </div>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/img/clients2/fred-perry.png" alt="">
                                                <div class="img-hover">
                                                    <h4>Fred Perry</h4>
                                                </div>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/img/clients2/bellfield.png" alt="">
                                                <div class="img-hover">
                                                    <h4>Bellfield</h4>
                                                </div>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/img/clients2/getapp.png" alt="">
                                                <div class="img-hover">
                                                    <h4>GetApp</h4>
                                                </div>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/img/clients2/austrian-airlines.png" alt="">
                                                <div class="img-hover">
                                                    <h4>Austrian Airlines</h4>
                                                </div>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="assets/img/clients2/general-electric.png" alt="">
                                                <div class="img-hover">
                                                    <h4>General Electronic</h4>
                                                </div>
                                            </figure>
                                        </li>
                                    </ul>
                                    <!--=== End Discount Partners ===-->

                                    <p>
                                        Poniższe stronicowanie dostepne, tylko jeżeli jest więcej niż 10 pozycji
                                    </p>

                                    <!--Pagination-->
                                    <div class="text-left">
                                        <ul class="pagination">
                                            <li class="active"><a href="#">«</a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                    <!--End Pagination-->
                                </div>
                            </div>

                            <div class="tab-pane fade in " id="KAT2">
                                <div class="margin-top-20">
                                    <!--Blog Post-->

                                    <p> Dostawcy przypisani do kategorii 2-giej</p>

                                    <!--End Blog Post-->

                                </div>
                            </div>

                            <div class="tab-pane fade in " id="KAT3">
                                <div class="margin-top-20">
                                    <!--Blog Post-->

                                    <p> Dostawcy przypisani do kategorii 3-ciej</p>

                                    <!--End Blog Post-->

                                </div>
                            </div>

                            <div class="tab-pane fade in " id="KAT4">
                                <div class="margin-top-20">
                                    <!--Blog Post-->

                                    <p> Dostawcy przypisani do kategorii 4-tej</p>

                                    <!--End Blog Post-->

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="blog margin-bottom-40 article-blurred">

                    </div>
                </div>
            </div>
            <!-- End Content -->
            <!-- Begin Sidebar Menu -->
            <div class="col-md-3" id="includedContentSideBar">
            </div>
            <!-- End Sidebar Menu -->
        </div>
    </div><!--/container-->
    <!--=== End Content Part ===-->


    <!-- Modal -->
    <div class="modal fade" id="modalCTA" tabindex="-1" role="dialog"
         aria-labelledby="modalNumberLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close"
                            type="button">×
                    </button>
                    <h4 class="modal-title">Dziękujemy za zainteresowanie
                        ofertą</h4>
                </div>
                <div id="sky-form-number" class="sky-form">
                    <fieldset>
                        <div class="row">
                            <section class="col col-6">
                                <label class="">Imię i nazwisko</label>
                                <label class="input state-disabled">
                                    <input type="text" name="first-name"
                                           ng-model="first-name"
                                           value="Karolina Sobieraj">
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="">E-mail</label>
                                <label class="input state-disabled">
                                    <input type="text" name="last-name" readonly
                                           disabled
                                           ng-model="last-name"
                                           value="k.sobieraj@calypso.com">
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-6">
                                <label class="">Nazwa klubu</label>
                                <label class="input">
                                    <input type="text" name="club-name" value="">
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="">Miasto klubu</label>
                                <label class="input">
                                    <input type="text" name="club-city" value="">
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-6">
                                <label class="">Telefon</label>
                                <label class="input">
                                    <input type="text" name="phone" value="">
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col-md-12">
                                <label>Zapytanie <span
                                        class="color-red">*</span></label>
                                <textarea rows="4" name="message"
                                          class="form-control">Chciałbym skorzystać z oferty Programu Sprzęt i wyposażenie, dostawcy Technology Gym.</textarea>
                            </section>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="row">
                            <section class="col-md-12">
                                <label class="checkbox"><input type="checkbox"
                                                               name="terms-of-use"><i></i>
                                    Zapoznałem się i akceptuję treść <b><a
                                            href="/benefit_dev/web/partner/termsofuse"
                                            target="_blank">Regulaminu Programów
                                        Wsparcia</a></b>.<span
                                            class="color-red">*</span></label>
                            </section>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn-u btn-u-default"
                            type="button">Anuluj
                    </button>
                    <button data-dismiss="modal" type="button"
                            class="btn-u add_correct_possition">Wyślij
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true"></div>
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true"></div>
    <div class="modal fade" id="attachemntsModal" tabindex="-1" role="dialog" aria-hidden="true"></div>


</div><!--/End Wrapepr-->
<!--=== Footer Version 1 ===-->
<div class="footer-v1" id="includedContentFooter">
</div>
<!--=== End Footer Version 1 ===-->

<!-- JS Global Compulsory -->
<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="assets/plugins/smoothScroll.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="assets/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        App.init();
        $('.article-clear').hide();
    });
</script>
<script>
    $(function () {


        $("#includedContentSideBar").load("sidebar.html");
        $("#includedContentHeader").load("header.html");
        $("#includedContentFooter").load("footer.html");
        $("#attachemntsModal").load("modal_offers.html");
        $('#confirmModal').on('hidden.bs.modal', function () {
            $('.article-clear').show();
            $('.article-blurred').hide();

        });
        $("#confirmModal").load("program_modal.html", function () {
            $('#confirmModal').modal('show');

        });

        $('#attachments_presentation').slideToggle('fast', function () {
        });

        $('#appendPDF').click(function () {
            $('#attachments_presentation').slideToggle('fast', function () {
                if ($('.offerArrow').hasClass('fa-chevron-down')) {
                    $('.offerArrow').removeClass('fa-chevron-down');
                    $('.offerArrow').addClass('fa-chevron-up');
                } else {
                    $('.offerArrow').removeClass('fa-chevron-up');
                    $('.offerArrow').addClass('fa-chevron-down');
                }
            });
        });

        $('#supplier-offer').hide();
        $('#supplier').change(function () {
            if ($(this).val() > 0) {
                $('#supplier-offer').show();
            }
            else {
                $('#supplier-offer').hide();
            }
        });

        setTimeout(function () {
            $('.dropdown-toggle').dropdown();


        }, 1000);

    });
</script>

<!--[if lt IE 9]>
<script src="assets/plugins/respond.js"></script>
<script src="assets/plugins/html5shiv.js"></script>
<script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

</body>
</html> 